.about-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.6;
}

.about-page h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.about-page h2 {
  margin-top: 2rem;
  font-size: 25px;
}

.about-page ul {
  padding-left: 1.2rem;
}

.about-page li {
  margin-bottom: 0.5rem;
  font-size: 25px;
}

.about-footer {
  margin-top: 2rem;
  font-style: italic;
  color: #555;
  font-size: 20px;

}

