.home-page {
  padding: 2rem;
  text-align: center;
}

.slider-container {
  margin-top: 2rem;
}

.slide-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.slide-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slide-card h3 {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.slide-card p {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
  font-size: 25px;
}

.slide-text {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
  text-shadow: 0 2px 6px rgba(0,0,0,0.8);
  opacity: 0;
  transform: translateY(10px);
  animation: textAppear 0.6s forwards 0.3s;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
