.accordion {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.accordion-title {
    background-color: #e0f7fa;
  color: #007c91;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;

}

.accordion-title.open {
  background-color: #e0f7fa;
}

.accordion-title:hover {
  background-color: #d0f0f5;
}

.accordion-content {
  padding: 30px;
  background-color: #fafafa;
  border-left: 2px solid #00acc1;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.accordion-item.open .accordion-content {
  max-height: 200px; /* или auto с JS */
}